@font-face {
    font-family:"psl_font";
    src: url('//at.alicdn.com/t/font_2404518_031aiydvj6rv.eot?t=1615784611279');
    /* IE9 */
    src: url('//at.alicdn.com/t/font_2404518_031aiydvj6rv.eot?t=1615784611279#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAfoAAsAAAAADmAAAAebAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDdAqPEIwkATYCJAMgCxIABCAFhG0HZBsaDFGUb1Kf7OeBbatZK4rWsJW7pI0Rsmhvh5e1Fb6PCx4joN/v93vkCqYNkmoXrSQiiSGZVDpeSYVKyfYleQnvaK3NI6aLRDNJejInvoJaiSTTlCA0iDQa/adoM3fB9wSImWJtY4Ik/iLOZ3LXOtTRmB+8C3l1pCbSX4Dm6A7HWhWtHxp2eKOX7f22t+E+RDyJVUokkl7EImIZQiQUCyliUdtulkiV6HpKcgKaDaoS2hiZWoI4mcECVh2augRxqWa5RhHUprIkaAbhGaLV8YWI28CT//XhPyyEOCAqEjBS2jkYVqHvV9SD7NOwVtMZnI3XCdEuCVNANr66tPtWZIhTPm8uWxhlD+g0/2Ikv6JKqOC39Xfos+sV/zdyB8FDr33oBuUuWVr2f56KUAKDt6Jwf7riV5TdQMmvhAYCvwqYOkMrhATDEIQIwzUaKPgzuEUFajdIJzAH4hFAmgWGcciXzUrJXN8ma+r0S4oiKzjO54rxTEEq7i4oF6enJybmvSM+n0QELsSDhXFpZ0YgXMTFJRbrKCYOzTogHNqDYQY72MENYoVIfz+MM/Ign4C43rEdYHD0IUKgUq4RQXIpr1dbXoDa49F4vVq3W+1ydTBUcTQpPZ4FdGA7Mah1vvGATnTFHc0ZdynJq54Y7pR3YZsF7TYGIdU8rY6QqX0G11npAGSi/NVWK4S0JR40+QGzsigQWhDSQ+jI7sgRUCQw7ky4p9Milo3RO+BqnE15K60GO+XHuAA/SHtSLPUP63/OHe1y6cjLrijOhPsx0TVvLHfS02U7G4fPng9hDzkTiZlzwSyNSmMxmaZ7CLMhUGu1WiyrEaDsGGHYEwhbMGhxIFzPAEBgAC2ycauq3Y41lUalbdFq1eqmNufptcdvphDM9Ty1Vr2Lj0E0fTaIN3AOI3J19PkEBDDWsWQN7UCknqHs/iLDnjVBJ2HdU2BQ/YIPhugkBsCjkFgP+fRGBOdhYJwc1r3GE3POUPbg+bbj52mn4Rx1tgOOPTI8CAc6k40a8MeOXQAcaj6PPO6J4BbeIRGzDtGDAejghGZLKyYqpavwYdN21qiYZHNiadviIThPjCpbEKX2auhQb6HVHk4FQVeeybG8KBegtpqrcq0Rg3osy7ATTgjp8wXo6NkwQJ3T0tYblWYAKNPFxWyBiVMsyVJwEiwT5wO15KRkmTjSmHYjeg+5vDppQOAWbn+VLwcS9T9v/ir/WzCQVC2Xi5cNXy+SFw1+97n8c5nsqvxq2ZX1LKORtd4URpPTxTKZYism4/rbKtaGDVBFxKVcM9zIEYr+3GVJ5Eb5RvHu376R75kFws3Uwx9VqsiHkWT+MZzP3O9n2e0s6Ps5Cl3sI3ML90zAmCwnNzjgDNfC8C8/ik/GAyY+mggYP5gjVXNZXLX0MLPKYaHxpuwFPCGfr7a8CXkLQH4r5aiCvb2wysGId60KpjZe+tdne9x2KIVuNj7xX/WxGYbdR6avfu527I740+9E1qXD9h072h09BMGfTIusfeds/I6E4efSV5PsPoYBBcYd+Nn9ssj+wcUfBlJjRAM/XPAHFn16jTKtLPn5pdolD59V4ArO95LMlz4CK/6XEiKGkBI+eFRUgvtIUkJGSQ1RWUk1R7Ng1YIFVVvgwgWgClQtjOctWLAo9vE4sybe8FwDinnivRuR7WdeU2JiY/rTrNNbA7aeZqU8ndjUlFjwQWDlvHR+PBdVYrmhs71BuZWhuQedUmdr6pV+E+FDVpKSUMl9t9un5/VQgHl0E/87f3u3HogEAjYFKMuq86UoGVS2dyqAApBTqJRFjeehUJQ3TvkL3wrN+r86XGXf21OhMoGmRSOQgczFRa++Ffjmq9kfDia2pAx/sDg6S8ppETc+zH71zcC3itYrYccSWNMCa71uJVycyqn9NDUdS5WgxkNOLijaYAx7XVDEn1Ssa+hq6sxt04lBT+8bSLWfZ0gEn4zDqKwjo3F70zGbEWwvMyP1WMw3JeUWQPK1PNdUnFOlyN+beqB8xx6J5F0PUq4XNhsTImLI48v5yqTc9dX/5Ks8ouLdtP+0zwh/fuZCUhh/T7T1EQJ7j23bBmhMpAuRYB6V3og0bEzd5BCbTufc0LxBnJl7/XkVUdevcS3/KmNfW9iNv6/9sFqs6gm8L0QGNaeh+2gNrL9nYNO2mv5L1F4kQ0Y0m/00qL/bz5jGvtbql5KxL4aoMgBJbSg3F05BocUSlGrL0GzSaOgWPZhIIQsBE64YBJ0+IGr3BkmnTwKCwm8o9PuDUmeIhGa7ITPKFiPBTBhkKAlUibxHTMX3NGuRSAi4sxGsXkB9y5FYUuuXriDj5hipr6nLzo6ih2wMH3xbbxBCIxrzXTLCUkPH8UnAfAsVUWMIEXTU1mplPmsU34UE6xgkEW5tFSHba2xS+DyaJyHBKc6xkVu4AOm2pJslrObQtFyBGHETtyfq1ahrkTvKvVaHrmUjt03XQFCnhtg7GZ+LGKFO5JhTPiIod2RBCqGG0UMGOtTSSVpbXrNLo/ukEY5hfIQ6sCAbciAX8iAfCqAQ5EvTxTgNUZUlxY7CXVMkoiuZzqAheTpG60xSMTLgO9Fc8RkCAAA=') format('woff2'), url('//at.alicdn.com/t/font_2404518_031aiydvj6rv.woff?t=1615784611279') format('woff'), url('//at.alicdn.com/t/font_2404518_031aiydvj6rv.ttf?t=1615784611279') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('//at.alicdn.com/t/font_2404518_031aiydvj6rv.svg?t=1615784611279#psl_font') format('svg');
    /* iOS 4.1- */
}
.psl_font {
    font-family:"psl_font" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-time:before {
    content:"\e60a";
}
.icon-feedback:before {
    content:"\e644";
}
.icon-exit:before {
    content:"\e637";
}
.icon-emailChange:before {
    content:"\e61a";
}
.icon-grade:before {
    content:"\e69d";
}
.icon-psw:before {
    content:"\e604";
}
.icon-score:before {
    content:"\e843";
}