@font-face {font-family: "psl_font";
  src: url('//at.alicdn.com/t/font_2404518_99oyrk9gtow.eot?t=1615124625642'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2404518_99oyrk9gtow.eot?t=1615124625642#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAhgAAsAAAAADwwAAAgUAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCEAgqQIIxdATYCJAMkCxQABCAFhG0HaxtsDCOSMFYl2T8L7MbqBvPWh9K2X4+njY5eUGpBwfjsgcNmJV6vl+GCfR+Cp/+5zztvJoCLIAE9KXIECgh0KoH9CttT4apMddrz69dmeNrcv7tjG14QkUaDkbAs2iYWRsSdNmizLmY2sxN/dGL1+2kKLCvMCfUhMhZ9yebTPuLQ+DpdpVLhKmQbIICA7v9/v9L3p/WfAck7bYMygpH3v6nYqqJtXsEFigqKSF+wBaRlXwvrzGyl4EA9050hQEyvETK7mV+HjsE5QYMreboPPRTBclgh9PspKxryDY/QvXcPmfHV/nn5z7wQHJ7Cd7V8MneEtdTaopIVaUsp3rWXDFwnAwVGgF19P1KDn4DKW6rE1Y09APXityqUVnaWw+XrF29fztQWq4pSY91hLtRrrAmKjw36Px5CQAjiw2kK4V1ZCKUqx4o7YIQPZSdH3DuMEA7eVxjhwd83IwT+zRgRQG2xFSEAkblCIxiG+wE6Brhvyi72cKg4xgwjwuLUzG+C6vH39Ww2lpilcRDkcZZGaUe/cISI0zr2HetZvETrDOBJDXAsuX0B4Xv92hWLuV+9cr58uZYAOBjovQvCgHMWM3RFXN2/pPvmwEpBWaRtUJceWsc6/VRGa3g2in3uhTKh8bm3qjfUAyi6gxGB7/DTsXdRKGg4+/r5a0VjLPZiAlSF8Sv4UgYKXpiH7cru2IxJIF61iBcm+fyaTHsJm3L5VTFMWCXsEhpYRQ6L1DWTUhJBpUAggRV8Q2olRGW/1BAfuzCp55W84eU6xs2XKlrLq3TmnZg2ofX19OrLOrzzqgSpixqJjiti2OVwVYbDFXxnRUjorqqqrJyHArIHI0K9QsiGQZURFA92A7IEoAeEz8vDvnzpmDgWc7gcbpvb7XQWeYwm7rP3BxLdd83OWTnXJmEQ2n5ZlFhzBSNM66irBhRg7swAFxVBGcFusofPDPXOZ8lEVW+C1/FbuVayjh0CfoGyglAStQSF+uFAOwQ+Vj3RFZUitVc9Z69S0dAV8vJUqOlF6JkcrAtXkzV87Mw1QCv6zIyzrxUJic2MWFUdVStAKyNtpMjcU0xoC5eX4pip1lEsUu2eluPoHlBhnOAJ1EH9bNJRLSKdMRcljY2p6pGTIuilORwpT2IAurOpIxZT1L5Ptgw7F4Ug6upo9PRlGSCvuKkqDAtVAIowigYroXWuyiCvJMxzhGt6Olb2SMLyKqpEN1k6qNhtsxd7unWO9ttXW6XuukHl+BYxDYc5F1Mim+Ecp0w47v3IJ+yU8Eq4pRFZC69obDUeHG5thNfAKxtb9DeQOzl3fJGciLTMUdY0bmf2VFB57olyNYFz/G8ZV1HbMsvfp69aOrkIgPFDySObq7EzWHWz3eLLdqZJYWL9av5pDOyDlM7hayYCSbg8wxDSZWUsYroG5v7pBcv6kS/m6QSJCYjlVkr7gFI7UL97OJg52mPUA55fLe/HS8JGFOYaR28I1TsfOLZ/9fnpzb6Di1v6MOIp5eN+dmbZlyUr36lfnbl39DifRczlsoeJheM2b2rodTlX4G9epbyyIAmJBt68F/vpy6AXuri+MD+LZQOjD5HPf3I4lM+VFPjJXWL9XmbPh9d/rGFqmDU/Xjtl+T+7Q4oJSn7ZM6zk+fZUPPW0eMmwPR+D2XGritAQVoKDqzwJzilmsBkqKw9ZLKTdOBzK8nqzWkE+L8gCWT6/itfr12bohDZesKMA1WRedyFa/UtikdFYOGQrfHGFYMVFeOBWY1GRcfSHQkufta/ZhFowk7RzlshkkZqOR61R+6Bbm8IEh2FhsKXsp2YqZ+ZBNwT6kErEo7/OK44pAV1JUMgJo3tUyVDalGmpIBXQjFBasqrZjEpRczNpV39bOjyeHc9Sx7ZFmkx32Vz0ZDAsMHb/28K39o/4qNZoG1j/YUA93EqzsQqfj9j/lvDtpKZp0NQSKMcG5VqpaVAgRHLfTM7U0jSQ85rR6h27+JDsIH1sUmvqwoLpRdNMnnXlbGsKc16kQAUvy6WX0ninjPQ1+YleeOkaLoe5cXmxGReOBsSLv8gsF2Sx4jV5JySOzFQhyyZ2gfzF5jWhsIaxcWuxDhcuGvKr6lcDa99j/cq6wHZVrg2P429hygMjhL3l3zoYr7nhcMSHxMvKaibq1k+eX3r70zXGU9WlZfGh7Yu+rmm6/P/PP/9Q//03DZwda41vHXnw9x79+rXawsI/gNUKVjEN8mOQ+ScOQwKg6kI+QaYAAPoTvgCoojSATJ+qkMgbhIzz0k00CKHC5J6Vyh/qaWSALjMT+HX03JRZzIm/0bE/noI/6q8D1KVeLiFwVpoA9JQQDTxJ3P1xcYy+g0BZyzp9ew1lRAfIih2AWIwC6CWZjeD9dn0tpR1al4/vgyMJOSh0dIwJB4MHhhl86FggZlCU7eqJJskNWQQM+WYg6v2Ak/sNqt7FAguEf+Bp9Q+++m4gttnrBhN9yedlQl8w0XAmOXrHZI3yHLLZOQ3fwPemT0GXLftCyrKA2qqJVmzhkNpYJB/4vBRGLHlLG7Y7GOMpJK8wlkqUEhZ1zdIWrUZvZ89mJNArpu6EDM6m0shz2HzFszuZsYtVfwPc/jZ2L+X0GC7+AomoxPhJq9KUYLbUlepxLM2zA26uUDJDqn3iWWRDyWBEqUdC+nQKjIqKqFEcLNTUHytLq1n67LFG0Af+iqKcqJh44ksgoUQSY5cWt5M/ulucZHmB7aVZit5x3PHUT7gJ+XiXR5/wyIBp6Ec9mwE=') format('woff2'),
  url('//at.alicdn.com/t/font_2404518_99oyrk9gtow.woff?t=1615124625642') format('woff'),
  url('//at.alicdn.com/t/font_2404518_99oyrk9gtow.ttf?t=1615124625642') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_2404518_99oyrk9gtow.svg?t=1615124625642#psl_font') format('svg'); /* iOS 4.1- */
}

.psl_font {
  font-family: "psl_font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e7f6";
}

.icon-down:before {
  content: "\e62b";
}

.icon-exit:before {
  content: "\e603";
}

.icon-emailChange:before {
  content: "\e61a";
}

.icon-grade:before {
  content: "\e69d";
}

.icon-psw:before {
  content: "\e604";
}

.icon-score:before {
  content: "\e843";
}

.icon-feedback:before {
  content: "\ea4e";
}
